<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
  <div class="col-7 offset-2">
  <h3>Edit your Listing</h3>
  <br>
  <form method="POST" action="/listings/<%= listing._id %>?_method=PUT"novalidate class="needs-validation"
    enctype="multipart/form-data">

    <div class="mb-1">
      <label for="title" class="form-label">Title</label>
      <input type="text" name="listing[title]"class="form-control"required
       id="title" value="<%= listing.title %>">
      <div class="valid-feedback">Title looks good</div>
    </div>

  <div class="mb-1">
    <label for="description" class="form-label">Description</label>
    <textarea name="listing[description]"class="form-control" id="description"required><%= listing.description %></textarea>
    <div class="invalid-feedback">Please enter a short description</div>
  </div>
  <!-- image preview for edit page -->
  <div class="mb-1">
    Original Listing Image <br>
    <img src="<%=  originalImageUrl %>" alt="">
  </div>

<div class="mb-1">
  <label for="image" class="form-label">Upload new Image</label>
  <input type="file"required name="listing[image]"class="form-control"id="image">
</div>
 
<div class="row">
  <div class="mb-1 col-md-4">
    <label for="price" class="form-label">Price</label>
    <input type="number"required name="listing[price]"class="form-control" id="price"  value="<%= listing.price %>"required>
    <div class="invalid-feedback">price should be valid</div>
  </div>
  
  
  <div class="mb-1 col-md-8">
    <label for="country" class="form-label">Country</label>
    <input type="text"required name="listing[country]"class="form-control" id="country" value="<%= listing.country %>"required>
    <div class="invalid-feedback">Please enter the country name</div>
  </div>
</div>


 <div class="mb-1">
  <label for="location" class="form-label">Location</label>
  <input type="text" name="listing[location]"class="form-control" id="location" value="<%= listing.location %>"required>
  <div class="invalid-feedback">Please enter the location</div>
 </div>


    <button type="submit"class="btn btn-dark edit-btn mt-3">Edit</button>
    
    
  </form>
</div>
</div>